<div class="container min-height">
  <h1>Register</h1>
  <div class="row">
    <div class="col-md-6">
        <form (ngSubmit)="RegisterForm($event);" #registerForm="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" 
              required email placeholder="type your email" 
              [(ngModel)]="email" name="email"
              #emailForm="ngModel">
      
            <div *ngIf="emailForm.invalid && (emailForm.dirty || emailForm.touched)"
                class="alert alert-danger">
              <div *ngIf="emailForm.errors.required">
                <small>
                  <strong>Email is required.</strong>
                </small>
              </div>
              <div *ngIf="emailForm.errors.email">
                <small>
                  <strong>Email is not correct</strong>
                </small>
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" 
              [(ngModel)]="password" name="password" 
              placeholder="type your password"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"
              #passwordForm="ngModel">
      
            <div *ngIf="passwordForm.invalid && (passwordForm.dirty || passwordForm.touched)" 
              class="alert alert-danger">
              <div *ngIf="passwordForm.errors.required">
                <small>
                  <strong>Password is required.</strong>
                </small>
              </div>
              <div *ngIf="passwordForm.errors.pattern">
                <small>
                  <strong>Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</strong>
                </small>
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <label for="retyped">Retyped</label>
            <input type="password" class="form-control" id="retyped" 
              [(ngModel)]="retyped" name="retyped" 
              placeholder="retyped your password"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"
              #retypedForm="ngModel">
      
            <div *ngIf="retypedForm.invalid && (retypedForm.dirty || retypedForm.touched)" 
              class="alert alert-danger">
              <div *ngIf="retypedForm.errors.required">
                <small>
                  <strong>Retyped is required.</strong>
                </small>
              </div>
              <div *ngIf="retypedForm.errors.pattern">
                <small>
                  <strong>Retyped is not correct</strong>
                </small>
              </div>
            </div>
          </div>
      
          <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">Submit</button>
        </form>
    </div>
  </div>
</div>