<footer>
  <section id="footer">
    <div class="container wrap-footer">
      <div class="row">
        <div class="col-md-4">
          <div class="panel about">
            <div class="panel-heading">
              <strong>About Us</strong>
            </div>
            <div class="panel-body">
              <p>Sed aliquet dui auctor blandit ipsum tincidunt Quis rhoncus lorem dolor eu sem. Aenean enim risus, convallis
                id ultrices eget.</p>
              <p class="contact">
                <i class="fa fa-phone" aria-hidden="true"></i> (305) 888-5522
                <br>
                <i class="fa fa-envelope" aria-hidden="true"></i> spam@sample.com
                <br>
                <i class="fa fa-link" aria-hidden="true"></i> www.sample.com
                <br>
                <i class="fa fa-home" aria-hidden="true"></i> 250 Biscayne Blvd. (North) 11st Floor
                <br>
              </p>
              <p class="social">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-skype" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-wifi" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-square" aria-hidden="true"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-heading _text-upper">
              <strong>Author</strong>
            </div>
            <div class="panel-body">
              <div class="block-footer-info">
                <img src="https://secure.gravatar.com/avatar/19f62880113934b262c0bbb597644adb?s=100&r=pg&d=mm" alt="avatar">
                <div>
                  <h5>Sed aliquet dui</h5>
                  <p class="date">23.02.16</p>
                  <p>Sed pharetra lorem ut dolor dignissim, sit amet pretium tortor mattis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel ">
            <div class="panel-heading">
              <strong>Contact</strong>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" action="/action_page.php">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="Email*" name="email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="ptp" placeholder="Phone*" name="pwd">
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="5" id="comment" placeholder="Comment*"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default" href="#">Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>