.block-footer-info img {
  width: 140px;
  padding-bottom: 10px;
}

.block-footer-info {
  text-align: center;
}

section#footer {
  margin-top: 20px;
}

.container.wrap-footer {
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.social a {
  padding-right: 10px;
}