<div class="homepage">
  <section class="editor">
    <div class="wrap-editor container">
      <div id="editor">
        <div class="form form-post" class="form form-post">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p>Title:</p>
              <input type="text" class="title-post" [(ngModel)]="title">
              <p>Main Content:</p>
              <input type="text" class="title-post" [(ngModel)]="mainContent">
            </div>
            <div class="panel-body">
              <div [froalaEditor]="options" [(froalaModel)]="content"></div>
            </div>
            <div class="panel-footer" *ngIf="oldContent">
              <button class="btn btn-success" (click)="updateEvent($event)">
                Edit
              </button>
              <button class="btn btn-danger" (click)="cancelEvent($event)">
                Cancel
              </button>
            </div>
            <div class="panel-footer" *ngIf="!oldContent">
              <button class="btn btn-success" (click)="postEvent($event)">
                Post
              </button>
              <button class="btn btn-danger" (click)="cancelEvent($event)">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
