.content p {
  font-size: 18px;
}

.content {
  padding-top: 30px;
}

.content img {
  max-height: 600px;
  padding: 10px;
}

.content p {
  font-size: 18px;
}

.content img {
  max-width: 600px;
  padding: 10px;
  margin: 10px 0;
}
.content p {
  padding-bottom: 20px;
}