<section id="wrap-banner" class="banner">
  <div class="container"></div>
</section>
<section id="wrap-title" class="title">
  <div class="container" *ngIf="!contentTitle">
    <h2>Welcome Atavist! A Groundbreaking Publishing Platform Joins the WordPress.com Family</h2>
    <p>Looking to the future of storytelling on WordPress.</p>
    <div class="author">
      <div class="author-left">
        <h6>
          <img src="https://secure.gravatar.com/avatar/19f62880113934b262c0bbb597644adb?s=100&amp;r=pg&amp;d=mm" width="100" height="100">
        </h6>
        <p>
          <small>Mark Armstrong</small>
        </p>
      </div>
      <div class="author-right">
        <p>
          <small>June 21, 2018 / 18 </small>
        </p>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="contentTitle">
    <h2>{{contentTitle.content.title}}</h2>
    <div class="author">
      <div class="author-left">
        <h6>
          <img [src]="contentTitle.content.avatar" width="100" height="100">
        </h6>
        <p>
          <small>{{contentTitle.content.author}}</small>
        </p>
      </div>
      <div class="author-right">
        <p>
          <small>{{contentTitle.content.date}}</small>
        </p>
      </div>
    </div>
  </div>
</section>