header {
	background: #0085be;
}

section#wrap-banner {
    background-image: url("https://en-blog.files.wordpress.com/2018/06/null.png?w=2000");
    height: 160px;
    background-size: cover;
    margin-bottom: 20px;
}

section#wrap-title {
    text-align: center;
}

section#wrap-title p {
    font-size: 14px;
}

section#wrap-title h2 {
    padding-bottom: 10px;
}

.author {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  color: #87a6bc;
  border-bottom: 1px solid #c5d8e6;
  padding-bottom: 20px;
}

.author-left {
  display: table-caption;
}

.author .author-left img {
  border-radius: 50%;
}

@media only screen and (min-width: 1300px){
  #wrap-banner {
    height: 400px!important;
  }
}