<div class="recent-post">
  <h3>Recent Post</h3>
  <div *ngIf="recentPosts">
    <div  class="recent-post-item" *ngFor="let item of recentPosts.recentPosts">
      <div class="title">
        <a (click)="onClick($event)" id="{{item.id}}" name="{{item.slug}}">{{item.title}}</a>
      </div>
    </div>
  </div>
</div>