<div id="container" class="body">
  <div id="main">
    <div class="homepage">

      <!-- component header -->
      <app-header></app-header>

      <section id="wrap-post" class="post">
        <div class="container">
          <div class="row wrap-post">
            <div class="col-md-4 home-sidebar">
              <input type="text" placeholder="Search our blog">
              <hr />

              <!-- component side-bar -->
              <app-side-bar class="home-sidebar"></app-side-bar>

            </div>
            <div class="col-md-8 blog-post">

              <!-- component list blogs -->
              <app-list-blogs 
                [isNextValid]="isNextValid"
                [isBackValid]="isBackValid"
                [blogsDisplay]="blogsDisplay"
                (next)="nextClick($event)"
                (back)="backClick($event)">
              </app-list-blogs>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- component footer -->
  <app-footer></app-footer>

</div>