section#wrap-title {
    text-align: center;
    padding-top: 40px;
}

section#wrap-title p {
    font-size: 14px;
}

section#wrap-title h2 {
    padding-bottom: 10px;
}

.author {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    color: #87a6bc;
    border-bottom: 1px solid #c5d8e6;
    padding-bottom: 20px;
}

.author-left {
    display: table-caption;
}

.author .author-left img {
    border-radius: 50%;
}

.panel {
    margin-bottom: 0px;
    border-bottom: 1px solid #eee;
}

.block-footer-info img {
    width: 140px;
    padding-bottom: 10px;
}

.block-footer-info {
    text-align: center;
}

.content img {
    height: 600px;
    padding: 10px;
}

.content p {
    padding-bottom: 20px;
}

.banner h3 {
    width: 100%;
    background: #3d596d;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.comments-item {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.comments-item h4 {
    padding-bottom: 5px;
}

footer {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.form.form-comment {
    margin-bottom: 30px;
    padding: 20px;
    border-top: 1px solid #eee;
}

textarea.content-comment {
    width: 100%;
    padding: 10px;
}

input.title-comment {
    padding: 5px;
}

/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }
  .content, .comments {
    margin: 0 120px;
    padding: 30px;
}

}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }
  .content, .comments {
    margin: 0 120px;
    padding: 30px;
}

}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    
}