div#editor 
{
    width: 81%;
    margin: auto;
    text-align: left;
}

.class1 {
  letter-spacing: 2px;
}

.class2 {
  color: magenta;
}

.wrap-editor.container {
    padding: 30px;
}

input.title-comment {
    width: 100%;
}