.col-md-9.wrap-main {
    height: 570px;
}

.col-md-3.wrap-sidebar ul {
    list-style: none;
}

.col-md-3.wrap-sidebar ul li a {
    color: #0085be;
}

.col-md-3.wrap-sidebar, .wrap-main {
    padding-top: 30px;
}

.col-md-3.wrap-sidebar ul li {
    margin-bottom: 10px;
}

.col-md-3.wrap-main button {
    padding: 5px;
}

button.btn-success {
    padding: 5px;
    border: none;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin: 20px 0;
}

.info-item {
    display: inline-flex;
}

.info-item small {
    margin-right: 10px;
}

.list-item .content {
    color: #3ca1cc;
}