.navbar-default {
  background: #0085be;border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
}

button {
  background: black;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #35a8da6b;
    border: #0085be;
}

button.navbar-toggle.collapsed span {
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}

ul.nav.navbar-nav li a {
    color: #fff;
}

header {
	background: #0085be;
}

nav.navbar {
    margin-bottom: 0px;
}

section#wrap-banner {
    background-image: url("https://en-blog.files.wordpress.com/2018/06/null.png?w=2000");
    height: 160px;
    background-size: cover;
    margin-bottom: 20px;
}

section#wrap-title {
    text-align: center;
}

section#wrap-title p {
    font-size: 14px;
}

section#wrap-title h2 {
    padding-bottom: 10px;
}

.author {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    color: #87a6bc;
    border-bottom: 1px solid #c5d8e6;
    padding-bottom: 20px;
}

.author-left {
    display: table-caption;
}

.author .author-left img {
    border-radius: 50%;
}

section#wrap-post {
    padding-top: 20px;
    margin: 0 5px;
}

.col-md-4.home-sidebar ul {
    list-style: none;
    padding-top: 10px;
}

.col-md-4.home-sidebar ul li {
    margin-bottom: 5px;
}

.col-md-4.home-sidebar ul li a {
    color: #1e8cbe;
    font-size: 16px;
}

.copyright {
    background: #0085bec2;
    height: 40px;
    line-height: 40px;
}

p.text-center {
    font-size: 14px;
    color: #fff;
}

p.text-center a {
    color: #fff;
}

.widget {
    background: #eee;
    padding: 10px;
}

.widget button {
    display: inline-flex;
}

.widget p {
    color: #03A9F4;
}

.widget h1 button {
    padding: 5px;
    background: #7dc1dd;
    border: none;
    margin-top: 10px;
}

.panel {
    margin-bottom: 0px;
    border-bottom: 1px solid #eee;
}

.block-footer-info img {
    width: 140px;
    padding-bottom: 10px;
}

.block-footer-info {
    text-align: center;
}

.widget h1 img {
    display: block;
    width: 125px;
    height: 125px;
    margin: 20px auto;
}

.col-md-8.blog-post {
    margin-top: 20px;
}

.blog-post-item {
    padding-bottom: 20px;
}

.col-md-4.blog-post-img {
    padding-bottom: 20px;
}

section#footer {
    margin-top: 20px;
}

.container.wrap-footer {
    padding-top: 20px;
    border-top: 1px solid #eee;
}

/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }
  section#wrap-banner {
    height: 400px;
  }
}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }

  section#wrap-banner {
    height: 400px;
  }
}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }

    .row.wrap-post {
	    display: inline-flex;
	    flex-direction: column-reverse;
	}
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .row.wrap-post {
	    display: inline-flex;
	    flex-direction: column-reverse;
	}
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    .row.wrap-post {
	    display: inline-flex;
	    flex-direction: column-reverse;
	}
}