/* ==========================================================================
   Bui Viet Son
   ========================================================================== */

html, body {
    overflow-x: hidden;
}
body {
  font-size: 18px;
  background: #fdfdfd;
  font-family: "Roboto", Tahoma, Arial, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 0;
}
a {
  color: #333;
  cursor: pointer;
}
a, a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0076a1;
}
input, input:focus {
  outline: none
}
#container .container {
  max-width: 1300px;
  height: auto;
}
#container .container-full {
  max-width: 1300px;
  height: auto;
  padding: 0px 15px;
  margin: auto;
}
body,h1,h2,h3,h4,h5,h6,p,a {
  font-family: "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

.copyright p, .copyright p a {
    color: #fff;
}

.navbar-default {background: #0085be;border: none;}

.navbar-default .navbar-brand {
    color: #fff;
}

button {background: black;}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #35a8da6b;
    border: #0085be;
}

button.navbar-toggle.collapsed span {
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}

ul.nav.navbar-nav li a {
    color: #fff;
}

header {
  background: #0085be;
}

nav.navbar {
    margin-bottom: 0px;
}

.copyright {
    background: #0085bec2;
    height: 40px;
    line-height: 40px;
}

div#main {
    min-height: 572px;
}
/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }
}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }
}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    
}