<div class="home-sidebar">
  <strong>
    More from WordPress.com
  </strong>
  <ul>
    <li>
      <a href="#">Discover</a>
    </li>
    <li>
      <a href="#">The Daily Post</a>
    </li>
    <li>
      <a href="#">WordPress.com VIP News</a>
    </li>
    <li>
      <a href="#">WordPress.com Go</a>
    </li>
    <li>
      <a href="#">Data.blog</a>
    </li>
    <li>
      <a href="#">Design.blog</a>
    </li>
  </ul>
  <hr />
  <div class="widget">
    <h1>
      <img src="https://learn.files.wordpress.com/2016/03/bu-logo-small.png">
    </h1>
    <p>Want to start a blogging habit or set up a business website? Get step-by-step guidance from WordPress.com pros, right
      in your inbox. Our email courses are free to all and there are no prerequisites.</p>
    <h1>
      <button>
        <a>Visit Blogging University</a>
      </button>
    </h1>
  </div>
</div>