.home-sidebar ul {
  list-style: none;
  padding-top: 10px;
}

.home-sidebar ul li {
  margin-bottom: 5px;
}

.home-sidebar ul li a {
  color: #1e8cbe;
  font-size: 16px;
}


.widget {
  background: #eee;
  padding: 10px;
}

.widget button {
  display: inline-flex;
}

.widget p {
  color: #03A9F4;
}

.widget h1 button {
  padding: 5px;
  background: #7dc1dd;
  border: none;
  margin-top: 10px;
}

.widget h1 img {
  display: block;
  width: 125px;
  height: 125px;
  margin: 20px auto;
}

a:hover {
  text-decoration: none;
}