.blog-item * :hover {
  cursor: pointer;
  color: #23527c;
}

a:hover {
  text-decoration: none;
}

a {
  color: #9fcffa;
}

.blog-post {
  margin-top: 20px;
}

.blog-post-item {
  padding-bottom: 20px;
}

.blog-post-img {
  padding-bottom: 20px;
}

.author {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  color: #87a6bc;
  border-bottom: 1px solid #c5d8e6;
  padding-bottom: 20px;
}

.author-left {
  text-align: center;
}

.author .author-left img {
  border-radius: 50%;
}