<div *ngFor="let blog of blogsDisplay" class="blog-item">
  <div class="blog-post-item row" [routerLink]="['/blog', blog.id, blog.slug]">
    <div class="col-md-4 blog-post-img">
      <h1>
        <img src="https://en-blog.files.wordpress.com/2018/06/mobile-apps-save-for-later-featured-image.jpg?w=720" alt="" class="img-responsive">
      </h1>
    </div>
    <div class="col-md-8 blog-post-detail">
      <h3>{{blog.title}}</h3>
      <p>{{blog.mainContent}}</p>
      <div class="author">
        <div class="author-left">
          <h6>
            <img [src]="blog.avatar" width="100" height="100">
          </h6>
          <p>
            <small>{{blog.author}}</small>
          </p>
        </div>
        <div class="author-right">
          <p>
            <small>{{blog.date}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-paged-list 
  (back)="backClick($event)" 
  (next)="nextClick($event)"
  [isNextValid]="isNextValid"
  [isBackValid]="isBackValid"
  >

</app-paged-list>