.wrap-main {
  min-height: 572px;
}

.wrap-sidebar ul {
  list-style: none;
}

.wrap-sidebar ul li a {
  color: #0085be;
}

.wrap-sidebar, .wrap-main {
  padding-top: 30px;
}

.wrap-sidebar ul li {
  margin-bottom: 10px;
}

.wrap-main button {
  padding: 5px;
}

.btn-success {
  padding: 5px;
  border: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin: 20px 0;
}

.info-item {
  display: inline-flex;
}

.info-item small {
  margin-right: 10px;
}

.list-item .content {
  color: #3ca1cc;
}

.content a:hover {
  text-decoration: none;
}

.btn-success {
  background: #0085be;
  border-radius: 5px;
}

.btn-success a {
  color: #fff;
  padding: 10px;
}

.wrap-sidebar ul li a {
  font-size: 22px;
}

body {
  background-image: url("../../../assets/images/bg.jpg");
}