<header>
  <div class="container-full">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/">Wordpress.com</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="status.status">
          <ul class="nav navbar-nav">
            <li>
              <a [routerLink]="['/homeblog', status.author]" >
                {{status.author}}'s blog
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a (click)="logout($event)">Log Out</a>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="!status.status">
          <ul class="nav navbar-nav">
            <li>
              <a [routerLink]="['/login']" >
                Home's blog
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="/register">Register</a>
            </li>
            <li>
              <a routerLink="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>