.body {
  overflow: hidden;
}

section#wrap-post {
    padding-top: 20px;
    margin: 0 5px;
}

.navbar-default {
  background: #0085be;border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #35a8da6b;
    border: #0085be;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}

ul.nav.navbar-nav li a {
  color: #fff;
}

button.navbar-toggle.collapsed span {
  color: #fff;
}

nav.navbar {
  margin-bottom: 0px;
}

.navbar a {
  font-size: 18px;
}

.copyright {
    background: #0085bec2;
    height: 40px;
    line-height: 40px;
}

p.text-center {
    font-size: 14px;
    color: #fff;
}

p.text-center a {
    color: #fff;
}

.panel {
    margin-bottom: 0px;
    border-bottom: 1px solid #eee;
}

/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }
  section#wrap-banner {
    height: 400px;
  }
}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }

  section#wrap-banner {
    height: 400px;
  }
}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }

    .row.wrap-post {
	    display: inline-flex;
	    flex-direction: column-reverse;
	}
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .row.wrap-post {
	    display: inline-flex;
	    flex-direction: column-reverse;
	}
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    .row.wrap-post {
	    display: inline-flex;
	    flex-direction: column-reverse;
	}
}