textarea.content-comment {
  width: 100%;
  height: 120px;
}

.comments-item {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.comments-item h4 {
  padding-bottom: 5px;
}

.panel-footer {
  display: flex;
  justify-content: space-between;
}