<div class="comments">
  <div class="banner">
    <h3>Comments</h3>
    <div class="form form-comment">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Content: </p>
          <textarea rows="10" cols="30" class="content-comment" [(ngModel)]="comment"></textarea>
        </div>
        <div class="panel-footer">
          <input type="button" value="Success" class="btn btn-success" (click)="commentEvent($event)">
          <input type="button" value="Cancel" class="btn btn-danger" (click)="cancelEvent($event)">
        </div>
      </div>
    </div>
    <div *ngIf ="comments">
      <div class="comments-item" *ngFor="let comment of comments.comments">
        <h4>{{comment.author}}</h4>
        <p>{{comment.content}}</p>
      </div>
    </div>
  </div>
</div>