<div id="main">
  <div class="homepage">
    <app-header [contentTitle] = "data"></app-header>
    <section id="wrap-post" class="post">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <app-content [content] = "data"></app-content>
          </div>
          <div class="col-md-3">
            <app-recent-post [recentPosts] = "data"></app-recent-post>
          </div>
        </div>
        <app-comment [comments] = "data" [idBlog] = "id">

        </app-comment>
      </div>
    </section>
  </div>
</div>