.content p {
  font-size: 18px;
}

.content img {
  max-width: 600px;
  padding: 10px;
  margin: 10px 0;
}


/* ==========================================================================
 Responsive CSS Desktop
 ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
#container .container-full {
  width: 100%;
}
.content, .comments {
  margin: 0 120px;
  padding: 30px;
}

}


/* ==========================================================================
 Responsive CSS Landscape Tablet
 ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
#container .container-full {
  width: 100%;
}
.content, .comments {
  margin: 0 120px;
  padding: 30px;
}

}


/* ==========================================================================
 Responsive CSS Portrait Tablet
 ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #container .container-full {
      width: 100%;
  }
}


/* ==========================================================================
 Responsive CSS Landscape Mobile
 ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}


/* ==========================================================================
 Responsive CSS Portrait Mobile
 ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
  
}